* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 100px 0;
}

h1 {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
}

.todo-box {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.todo-add {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
}

.todo-add input {
  padding: 5px 10px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
  font-size: 1rem;
  outline: none;
  color: #3a3a3a;
}

.todo-add button {
  background-color: #3a3a3a;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 10px;
  min-width: 40px;
  height: 40px;
  cursor: pointer;
}

.todo-filter {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.todo-filter button {
  border-radius: 10px;
  background-color: transparent;
  border: solid 2px gray;
  padding: 5px 15px;
  color: gray;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.todo-filter button.active {
  background-color: #393939;
  border: solid 2px #393939;
  color: white;
}

.todo-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
}

.error {
  color: gray;
  font-size: 0.9rem;
  margin-top: 5px;
}

.todo-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  margin: 5px 0;
  background-color: #eeeeee;
  border-radius: 10px;
}

.todo-item input[type="checkbox"] {
  margin-right: 20px;
  accent-color: gray;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.todo-item span {
  font-size: 1rem;
  color: black;
  width: 100%;
}

.todo-item span.done {
  text-decoration: line-through;
  color: grey;
}

.todo-item button {
  background-color: transparent;
  border: none;
  color: var(--accent);
  font-weight: bold;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.todo-item button svg {
  width: 100%;
  height: 100%;
}